<nav class="navbar navbar-toggleable-md" style="background-color: #F2F2F2;">
  <a class="navbar-brand" href="#">Net<span>Vizc</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link nv-green" href="#">Empresa <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Servicio
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <h6 class="dropdown-header-netvizc">Maquila</h6>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Etiquetado</a>
          <a class="dropdown-item" href="#">Armado de Ofertas</a>
          <a class="dropdown-item" href="#">Termo - Encogidos</a>
          <a class="dropdown-item" href="#">Maquilas Especiales</a>
          <a class="dropdown-item" href="#">Limpieza de Producto</a>
          <a class="dropdown-item" href="#">Armado de Producto</a>
          <a class="dropdown-item" href="#">Bundles</a>
          <a class="dropdown-item" href="#">Almacenaje</a>

          <h6 class="dropdown-header-netvizc">Estiba</h6>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Contenedores</a>
          <a class="dropdown-item" href="#">Cargas Especiales</a>
          <a class="dropdown-item" href="#">Embalado y reempaque</a>
          <a class="dropdown-item" href="#">Paletizado de carga suelta</a>
          <a class="dropdown-item" href="#">Trincada y enzunchado</a>
          <a class="dropdown-item" href="#">Preparación de embalaje</a>
          <a class="dropdown-item" href="#">Preparación de listas de empaque</a>
          <a class="dropdown-item" href="#">Inspección de Contenedores</a>
          <a class="dropdown-item" href="#">Disponibilidad de operación</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contactos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
  </div>
</nav>
