<div class="content-n ">
  <div class="img"></div>
</div> 



  <div class="container">
      <div class="row align-items-center justify-content-center" >
      <div class="col-md-6 offset-md-8 col-sm-6 offset-sm-4" >
          <div class="card">
        
              <div class="card-body">
                <h5 class="card-title">Etiquetado</h5>
                <p class="card-text">Tecnología que se utiliza para el pegado de etiquetas auto-adheribles
                  que pueden sustituir, tapar o identificar nueva información sobre un 
                  producto.</p>
              </div>
              <ul class="list-netvizc">
                <li>Etiquetas para Código de barras EAN 13</li>
                <li>Códigos QR</li>
                <li>Etiquetas de contenido, piezas, peso, cantidad</li>
                <li>Etiquetas promocionales, 2x1, 20% desc, etc</li>
                <li>Etiquetas de reemplazo, textos de inglés a español
                  textos legales, nutrimentales QR</li>
              </ul>
              <div class="card-body">
                <p class="card-text">Ofrecemos gran flexibilidad para la elaboración de un empaquetado
                  único deseñado específicamente para cubrir las necesidades de su linea
                  de producción. Satisfacemos las necesidades de clientes nacionales e
                  internacionales cumpliendo los más altos estándares de calidad 
                  ecológicamente responsables y a un precio competitivo.</p>
              </div>
            </div>
      </div>
  </div>

