.content-n{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -200; 
  height: 100vh;
  width: 100vw; 
  display: flex;
  align-content: stretch;
}

.img{
  filter: brightness(80%);
  height: 100vh;
  width: 100vw; 
  z-index: -300;
  float: none;
  background: url(/assets/img/home-pc-normal.png); 
  background-size: 2000px 1300px;
  background-position: center;
  background-repeat: no-repeat;
  @media all and (min-width: 300px) and (max-width:400px){
      background: url(/assets/img/home-celular.png);
      background-position: center;
      background-repeat: no-repeat;
      .propuesta-valor>h1{
        color:white;    
        font-size: 1rem;
        text-shadow: 1px 1px rgb(119, 113, 113);
      }
  }
 
}
.content-propuesta-valor{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;
  height: 100vh;
  z-index: -200; 
}
.propuesta-valor{
  width: 50%;
}
.propuesta-valor>h1{
  color:white;
  font-size: 2rem;
  text-shadow: 1px 1px rgb(119, 113, 113);
  @media all and (min-width: 300px) and (max-width:400px){
      font-size: 1rem;    
  }
  @media all and (min-width: 436px) and (max-width:622px){
    font-size: 1.3rem;    
  }
}
